{% extends 'hoteltp/base.html' %}
{% load static %}

{% block body %}
    <body id="error_page">
	{% include 'hoteltp/navbar.html' %}
        <!-- start erroe area -->
        <section class="error_area text-center">
            <div class="container">
                <div class="error margin-tb-170">
                    <p>404</p>
                    <div class="section_title nice_title">
                        <h3>Error</h3>                        
                    </div>
                    <a href="index-2.html" class="btn btn-warning btn-lg">Back to Homepage</a>
                </div>
            </div>
        </section>
        <!-- end error area -->
{% endblock %}
