{% extends 'hoteltp/base.html' %}
{% load static %}

{% block body %}
    <body id="booking_page">
	{% include 'hoteltp/navbar.html' %}
        <!-- start breadcrumb -->
        <section class="breadcrumb_main_area margin-bottom-80" style="background: url({% static 'hoteltp/img/gallery-breadcrumb.jpg' %}) no-repeat center center / cover #000000;">
            <div class="container-fluid">
                <div class="row">
                    <div class="breadcrumb_main nice_title">
                        <h2>Booking</h2>
                        <!-- special offer start -->
                        <div class="special_offer_main">
                            <div class="container">
                                <div class="special_offer_sub">
                                    <img src="{% static 'hoteltp/img/special-offer-yellow-main.png'%}" alt="imf">
                                </div>
                            </div>
                        </div>         
                        <!-- end offer start -->
                    </div>
                </div>
            </div>            
        </section>
        <!-- end breadcrunb -->
       
                 {%for i in f%}
                 
				  {% if i.tendn == user %}
				
				     {{i.mabooking}}
				     {{i.sophong}}
				  {%endif%}
				   {%endfor%}
{% endblock %}
