{% extends 'hoteltp/base.html' %}
{% load static %}

{% block body %}
{% include 'hoteltp/navbar.html' %}
<section style="padding:40px;margin-bottom:70px;background: url({% static 'hoteltp/img/natura.jpg' %}) no-repeat center center;background-size:cover;">
<div style="width:40%;border-radius:10px;margin:auto;background: rgba(255,255,255,.5);padding:40px;">
	<h4 style="margin-bottom: 20px">Register</h4>
	  <form method="post" action="" class="form-qnt">
	    {% csrf_token %}
	    <div class="form-group">
		  {{form.as_p}}
	     </div>
	  	<div style="margin-top:40px">
		    <button type="submit" class="btn btn-primary">Submit</button>
		   <a style="padding: 13px 25px 13px 25px; font-family: 'Karla',sans-serif; display: inline-block; background: #f7c411; border-radius: 0; font-weight: 700
		   			 ; color: #313a45; font-size: 16px; line-height: 15px;" href="{% url 'hotel:login' %}">Back</a> </p>
	   </div>
	  </form>
	 </div>
  </section>
{% endblock %}


